@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.footerContainer{
  height: 250px;
  width: 100%;
  display: flex;
}
.footerContent{
  height: 200px;
  width: 100%;
  border-top:2px solid #000;
  border-bottom:2px solid #000;
  padding: 0 .5em;
}
.imgFooterLogo img{
  width: 150px;
}
.spaceFooter{
  height: 25px;
  width: 100%;
}
.footerText p,.footerText h5,.footerText a{
  color: #000;
}
.mobileFooterContainer{
  display: none;
}

@media only screen and (max-width:900px){
  .footerContainer{
    display: none;
  }
  .mobileFooterContainer{
    display: block;
    width: 100%;
    padding: 1.5em 0;
  }
  .accordion{
    border-top: 2px solid var(--textHF);
    border-bottom: 2px solid var(--textHF);
    margin:1em;
  }
  .accordion-header{
    background-color: transparent;
  }
  .accordion-button{
    background-color: transparent;
    color:var(--textHF);
  }
  .accordion-item{
    background-color: transparent;
  }
  .accordion-button:not(.collapsed){
    background-color: #d86504;
    color: var(--darkTextHF);
  }
  .accordion-button:focus{
    box-shadow:none;
  }
  .accordion-body a{
    color:var(--textHF);
  }
}
