input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
a,
p,
i,
li{
	color:var(--textHF);
	font-family: 'Fredoka','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
i:hover{
	color:var(--darkTextHF);
}
a:hover{
  color:var(--darkTextHF);
}
.headerMainContainer{
	position: relative;
	background: #fb7e14;
	height: 80px;
	z-index: 30;
}
.containerHeader{
	justify-content: space-between;
	height: 100%;
}
.imgLogo{
	width: 150px;
  	height: 50px;
}
.navListItem{
	justify-content: left;
	width: 100%;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
.nav-item{
	padding: 0 0.4em;
}
.navItem{
	margin: 0 1.1rem;
}
.iconsNavContainer{
	min-width: 150px;
	justify-content: space-between;
}
.bi-search{
	font-size: 20px;
}
.bi-cart{
	font-size: 24px;
}
.bi-person-circle{
	font-size: 25px;
}
.bi-list{
	display: none;
	font-size: 30px;
}
.containerSearchNav{
	position:absolute;
	width: 100%;
	opacity: 0;
	transform: translateY(-100%);
  	transition: opacity 0.5s ease-in-out,transform 0.5s ease-in-out;
	background-color: #fb7e14;
	z-index:2;
}
.containerSearchNav.show{
	top:80px;
	opacity: 1;
	transform: translateY(0);
	z-index: 3;
}
.containerMobileNav{
	display: none;
}
.searchBar{
	border: none;
	border-bottom: 1px solid #fff;
	width: 30%;
	margin-right:1rem;
	background-color: transparent;
	color:#ffffff;
}
.searchBar::placeholder{
	color:calc(--textHF);
}
.itemMobileNav:hover{
	background-color: #d86504;
}
.iconsContainerMobileNav{
	display: none;
}
.hamburgerButton{
	padding-top: 2px;
	width: 25px;
	height: 20px;
	display: none;
}

@media only screen and (max-width: 900px) {
	.iconsNavContainer{
		min-width: 200px;
		margin-left: 27px;
	}
	.bi-list{
		display: block;
		font-size: 30px;
	}
	.navContainer{
		display: none;
	}
	.navbar-nav{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.nav-item{
		min-width: 50%;
	}
	.containerMobileNav{
		display: flex;
		align-items: end;
		flex-direction: column;
		opacity: 0; 
		transform: translateX(100%);
		transition: opacity .5s ease-in-out, transform .5s ease-in-out;
		background: #fb7e14;
		top:80px;
		right: 0;
		position: fixed;
		width: 300px;
		min-height: 600px;
		height: 100vh;
		padding: 1em 1em;
		z-index: 9999;
	}
	.containerMobileNav.show{
		opacity: 1;
		transform: translateX(0);
	}
	.mobileMenuBar{
		width: 100%;
		flex-grow: 0;
	}
	.mobileMenuBar a{
		text-decoration: none;
		width: auto;
		width: 100%;
	}
	.itemMobileNav{
		border-radius: 5px;
		width: 100%;
		min-height:50px;
	}
	.itemMobileNav p{
		padding:0 1em;
	}
	.searchBar{
		width: 50%;
	}
	.mobileSocialMediaContainer{
		flex-grow: 1;
		display:flex;
		width: 100%;
		align-items: end;
	}
	.iconSocialMediaMobile{
		height: 45px;
		width: 100%;
		padding: 0 .5em 120px;
	}
	.iconSocialMediaMobile .bi{
		font-size: 30px;
		height: 45px;
	}
	/* HAMBURGER TOGGLERBAR */
	.hamburgerButton{
		display: block;
	}
	.hamburgerContainer{
		width: 25px;
		height: 20px;
		position: absolute;
		top: 32px;
		cursor: pointer;
	}
	.bar{
		position: absolute;
		height: 3px;
		width: 100%;
		background: #fff;
		transition: all 0.3s;
	}
	.bar.middleBar {
		top: 50%;
		margin-top: -2px;
	}
	.bar.bottomBar {
		bottom: 0;
	}
	.hamburgerContainer.active{
	z-index: 2;
		animation: rotateHamburger 0.5s linear 0s forwards;
	}
	.hamburgerContainer.active .bar.topBar{
	transform: translateY(9px) rotate(45deg);
	}
	.hamburgerContainer.active .bar.middleBar {
	width: 0;
	}
	.hamburgerContainer.active .bar.bottomBar {
	transform: translateY(-8px) rotate(-45deg);
	}
	.mobileBarUserOptions{
		display: none;
	}
	/* Animations */
	@keyframes rotateHamburger {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(180deg);
	}
	}
  .itemMobileNav:hover .mobileOptionsNav{
    color:var(--darkTextHF);
  }
}
@media only screen and (max-height:600px){
	.mobileSocialMediaContainer{
		display:flex;
		width: 100%;
		align-items: start;
	}
	.iconSocialMediaMobile{
		height: 45px;
		width: 100%;
		padding: 0.5em .5em;
	}
}
@media only screen and (max-width: 400px) {
	.bi-cart{
		padding-right: 0.5em;
	}
	.containerMobileNav{
		width: 80%;
		overflow: auto;
	}
	.responsiveIconOff{
		display: none;
	}
	.iconsNavContainer{
		min-width: 20px;
	}
	.iconsContainerMobileNav{
		display: block;
	}
	.containerSearchNav{
		display: none;
	}
	.searchBar{
		width: 100%;
	}
	.mobileBarUserOptions{
		display: block;
		width: 100%;
		padding: 0.5em 0;
		border-top:1.5px solid white;
		border-bottom:1.5px solid white;
		flex-grow: 0;
	}
	.itemMobileNav p{
		color: var(--textHF);
	}
}
