*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:cursive,Arial, Helvetica, sans-serif;
}
#root{
  overflow: auto;
}
a{
  text-decoration: none;
  display:inline-block;
}
p{
  margin:0;
}
button{
  background-color: transparent;
}
label{
  width: auto;
  height: auto;
}
/* 
      HEADER.JS ------------------------------------------------------------------------------------
*/
img[class~="logo"]{
  width: 150px;
  height: 50px;
}
.nav{
  justify-content: space-between;
}
.userIcon{
  justify-content: flex-end;
}
.busqueda{
  margin-top: 3px;
}
.navItem{
  margin: 0 1.1rem;
}
.navItemBotton{
  border:none;
}

.nav p{
  color:#000000
}
/* 
      HOME.JS ------------------------------------------------------------------------------------
*/
/* Banner Slide */
.banner{
  max-height: 600px;
}
.carousel{
  height: 100%;
}
.carousel-inner{
  height: 100%;
}
.carousel-item{
  height: 100%;
}
.bannerMobile{
  display: none;
}
/* Banner craft */
.containerBannerCraft{
  width:100%;
  height: 25rem;
  background-color: #5296A5;
}
.infoBannerCraft{
  max-width: 400px;
}
.infoBannerCraft h2{
  display: inline-block;
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
  font-size: 5.8rem;
  color:#000000;
  text-align: left;
  line-height: 100px;
}
.sloganBannerCraft h4{
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size:2.2rem;
  color:#000000;
  line-height: 20px;
}
#sloganLinedText{
  color:#ff0000;
  text-decoration: line-through;
}
#sloganPropuse{
  text-align: right;
}
/* Frames Types */
/* Our Products */
.encabezadoProduct{
  font-size: 1.8em;
}
.items{
  background-color: red;
}
.items-container{
  display: 	grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
}

/* 
      PRODUCTO.JS -------------------------------------------------------------------------------------------------
*/
img[class~="producto-imagen"]{
  object-fit: cover;
  width:100%;
  height:100%;
}
.image-container{
  min-height:800px;
  width: 100%;
  background-color: rgba(232,228,219,255)
}
.margin-box{
  min-height: 50px;
  width: 100%;
}
.product-imagen-box{
  width: 100%;
  height: 660px;
}
.review-container{
  width: 100px;
  height: 100%;
}
.review-box{
  border:2px solid black;
}
.imagen-box{
  height:660px;
  width:610px;
}
.blank-container{
  height: 40px;
  width: 100%;
}
.blank-box{
  width: 710px;
  height: 100%;
}
/*Descripcion del producto*/
i[class~="bi-arrow-left-short"]{
  font-size: 2em;
}
.product-container{
  height: 500px;
}
.text-back{
  font-size: 1.2em;
}
.text-product-container{
  line-height: normal;
  margin-top: 2em;
}
.quality-contanier{
  margin:1em 0;
}
.text-title-product{
  font-size: 2.5em;
  line-height:40px;
}
.text-author-product{
  font-size: 1.25em;
}
.text-quality{
  font-size: 0.85em;
  opacity:80%;
}
.desc-container{
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid black ;
}
.text-desc{
  opacity: 80%;
}

.text-price{
  font-size: 1.6em;
}
.text-shipping{
  opacity: 80%;
  font-size: 1.1em;
}
.buttom-add-cart{
  margin-top: 2em;
}

@media only screen and (max-width:900px){
  .bannerDesktop{
    display: none;
  }
  .bannerMobile{
    display: block;
  }
}