:root{
  --textHF:#ffffff;
  --darkTextHF:#bcbbbb;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Fredoka','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#root{
  overflow: auto;
}
a{
  text-decoration: none;
  display:inline-block;
}
p{
  margin:0;
}
button{
  background-color: transparent;
}
label{
  width: auto;
  height: auto;
}
/* 
      HOME.JS ------------------------------------------------------------------------------------
*/
/* Banner Slide */
.banner{
  max-height: 600px;
}
.carousel{
  height: 100%;
}
.carousel-inner{
  height: 100%;
}
.carousel-item{
  height: 100%;
}
.bannerMobile{
  display: none;
}
/* Banner craft */
.containerBannerCraft{
  width:100%;
  min-height: 300px;
  height: 30vh;
  max-height: 400px;
  background-color: #5296A5;
}
.infoBannerCraft{
  width: 300px;
}
.infoBannerCraft h2{
  display: inline-block;
  font-family: 'Fredoka', sans-serif;
  font-weight: 500;
  font-size: 4.45em;
  color:#000000;
  text-align: left;
  line-height: 60px;
}
.sloganBannerCraft h4{
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  font-size:1.69em;
  color:#000000;
  line-height: 20px;
}
#sloganLinedText{
  color:#ff0000;
  text-decoration: line-through;
}
#sloganPropuse{
  text-align: right;
}
.imgBannerCraft{
  width: 576px;
  height: 100%;
  flex-grow: 1;
}
.imgBannerCraft img{
  width: 500px;
}
.buttonBannerCraft{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #fb7e14;
  font-family: 'Fredoka','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#fff;
  transition: background-color 0.5s ease,color 0.5s ease;
  height: 40px;
  margin-top: .5em;
  font-size: 1.5em;
}
.buttonBannerCraft:hover{
  background-color: #d86504;
  color:#bcbbbb;
}

/* Frames Types */

.typeFrameContainer{
  width: 100%;
}
.typeFrameContainer h2{
  font-weight: 500;
  font-size: 4.5em;
  padding: .5em 0;
}
.InfoContainer{
  flex-grow: 1;
}
.InfoContainer h3{
  font-weight: 400;
  font-size: 3.5em;
  text-decoration: underline;
}
.InfoContainer p{
  font-weight: 300;
  font-size: calc(0.9em + 0.3vw);
}
.doubleTypeContainer{
  flex-wrap: wrap;
}
.doublesTypeHeader{
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 3.5em;
  width: 95%;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  margin-top: 1em;
  margin-bottom: 1em;
}
.doubleGlass{
  margin-right: 1em;
}
.doubleFrame{
  margin-left: 1em;
}
/* Our Products */
.encabezadoProduct{
  font-size: 1.8em;
}
.items{
  background-color: red;
}
.items-container{
  display: 	grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-items: center;
}
.imgTypeContainer{
  flex-grow: 3;
  min-width: 600px;
  max-width: 700px;
}
.imgTypeContainer img{
  width: 100%;
}

/* 
      PRODUCTO.JS -------------------------------------------------------------------------------------------------
*/
img[class~="producto-imagen"]{
  object-fit: cover;
  width:100%;
  height:100%;
}
.image-container{
  min-height:800px;
  width: 100%;
  background-color: rgba(232,228,219,255)
}
.margin-box{
  min-height: 50px;
  width: 100%;
}
.product-imagen-box{
  width: 100%;
  height: 660px;
}
.review-container{
  width: 100px;
  height: 100%;
}
.review-box{
  border:2px solid black;
}
.imagen-box{
  height:660px;
  width:610px;
}
.blank-container{
  height: 40px;
  width: 100%;
}
.blank-box{
  width: 710px;
  height: 100%;
}
/*Descripcion del producto*/
i[class~="bi-arrow-left-short"]{
  font-size: 2em;
}
.product-container{
  height: 500px;
}
.text-back{
  font-size: 1.2em;
}
.text-product-container{
  line-height: normal;
  margin-top: 2em;
}
.quality-contanier{
  margin:1em 0;
}
.text-title-product{
  font-size: 2.5em;
  line-height:40px;
}
.text-author-product{
  font-size: 1.25em;
}
.text-quality{
  font-size: 0.85em;
  opacity:80%;
}
.desc-container{
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid black ;
}
.text-desc{
  opacity: 80%;
}
.text-price{
  font-size: 1.6em;
}
.text-shipping{
  opacity: 80%;
  font-size: 1.1em;
}
.buttom-add-cart{
  margin-top: 2em;
}

@media only screen and (max-width:900px){
  /* BANNER PRINCIPAL */
  .bannerDesktop{
    display: none;
  }
  .bannerMobile{
    display: block;
  }
  /* BANNER CRAFT */
  .containerBannerCraft{
    width:100%;
    min-height: 150px;
    height: calc(17vh + 5vw);
    max-height: 250px;
    background-color: #5296A5;
  }
  .infoBannerCraft{
    width: 150px;
  }
  .infoBannerCraft h2{
    display: inline-block;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: 2.2em;
    color:#000000;
    text-align: left;
    line-height: 30px;
  }
  .sloganBannerCraft h4{
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
    font-size:.84em;
    color:#000000;
    line-height: 4px;
  }
  #sloganLinedText{
    color:#ff0000;
    text-decoration: line-through;
  }
  #sloganPropuse{
    text-align: right;
  }
  .imgBannerCraft{
    width: 100px;
    height: 100%;
    flex-grow: 1;
  }
  .imgBannerCraft img{
    height: 100%;
  }
  .buttonBannerCraft{
    height: 24px;
    font-size: 1em;
  }
}
@media only screen and (max-width: 600px) {
  .imgBannerCraft{
    width: 100px;
    height: 100%;
    flex-grow: 1;
    align-items: center;
  }
  .imgBannerCraft img{
    height: calc(1vh + 22vw);
  }
  
}